/* navbar */

.navbar-default {
    background-color: #fff;
    border-color: #E7E7E7;
}

/* Title */
.navbar-default .navbar-brand {
    color: #222;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: #222 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ddd !important;
}

.bg-primary {
    background-color: #a0d5cd !important;
    color: #222;
}
.bg-secondary {
    background-color: #a0acd6 !important;
    color: #222;
}

.bg-info {
    background-color: #d5c69f !important;
    color: #222;
}
